<!-- <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <app-navbar></app-navbar>
</div>
<div class="tab-content" id="v-pills-tabContent">
    <app-search></app-search>
</div> -->
<div class="ui-g p-5" *ngIf="books">
        <!-- $  | async -->
    <p-card *ngFor="let book of books"  class="ui-g-3 app-book-card"  [header]="book.title" [subheader]="book.authors" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <a href="#/details/{{book.id}}"><img [src]="book.imageLink" src="Card" style = "height: 360px"></a>
        </p-header>
        <div class="book-description">
            {{ book.description | limitToPipe :  100}}
        </div> 
    
        <p-footer>
            <a href="#/details/{{book.id}}"><button  pButton type="button" label="Add book in database" icon="pi pi-check" style="margin-right: .25em"></button></a>
            <!-- <button pButton type="button" label="Delete" icon="pi pi-times" class="ui-button-danger"></button> -->
        </p-footer>
    </p-card>
</div>
